<header class="sub-header">
<h2><%= @shelter.name %> - Available Pets </h2>
<%= link_to "New Pet", "/shelters/#{@shelter.id}/pets/new"%>
</header>

<div class="grid-container">
  <% @pets.each do |pet| %>
    <div class="grid-item">
      <% if pet.adoptable == true %>
      <section id="pet-links-<%= pet.id %>" class="btn-cont-row" >
        <%= link_to "edit", "/pets/#{pet.id}/edit", class: "btn-1" %>
        <%= link_to "delete", "/pets/#{pet.id}", method: :delete, class: "btn-1" %>
      </section>
      <%= render partial: 'shared/petcard',
          locals: {
                    shelter: {
                      id: pet.shelter.id,
                      url_show: "/shelters/#{pet.shelter.id}",
                      name: pet.shelter.name,
                      city: pet.shelter.city
                    },
                    pet: {
                      id: pet.id,
                      image: pet.image,
                      name: pet.name,
                      age: pet.approximate_age,
                      sex: pet.sex,
                    }
                  }
      %>
      <% end %>
    </div>
  <% end %>
</div>
