<header class="sub-header">
<h1><%= @shelter.name %></h1>
<%= link_to "View Pets", "/shelters/#{@shelter.id}/pets"%>
<%= link_to "Edit Shelter", "/shelters/#{@shelter.id}/edit" %>
<%= link_to "Delete Shelter", "/shelters/#{@shelter.id}", method: :delete %>
</header>

<p>Address: <%= @shelter.address %><p>
<p>City: <%= @shelter.city %><p>
<p>State: <%= @shelter.state %><p>
<p>Zip: <%= @shelter.zip %><p>

<section class="reviews">
  <h2>Reviews</h2>
  <% @shelter_reviews.each do |shelter_review| %>
    <section class="review-block" id="review-<%= shelter_review.id %>">
      <h3><%= shelter_review.title %><h3>
      <p><%= shelter_review.rating %></p>
      <p><%= shelter_review.content %></p>
      <p><%= shelter_review.img %></p>
    </section>
  <% end %>
</section>
