<header class="sub-header">
<h1><%= @shelter.name %></h1>
<%= link_to "View Pets", "/shelters/#{@shelter.id}/pets"%>
<%= link_to "Edit Shelter", "/shelters/#{@shelter.id}/edit" %>
<%= link_to "Delete Shelter", "/shelters/#{@shelter.id}", method: :delete %>
</header>

<p>Address: <%= @shelter.address %><p>
<p>City: <%= @shelter.city %><p>
<p>State: <%= @shelter.state %><p>
<p>Zip: <%= @shelter.zip %><p>

<section id="statistics">
  <p> Pets: <%= @shelter.count_of_pets %></p>
  <p> Average rating: <%= @shelter.average_rating %></p>
  <p> Applications: <%= @shelter.count_of_applications %></p>
</section>

<section class="reviews">
  <h2>Reviews</h2>
  <%= link_to "Add Review", "/shelters/#{@shelter.id}/new_review" %>
  <% @shelter_reviews.each do |shelter_review| %>
    <section class="review-block" id="review-<%= shelter_review.id %>">
      <h3><%= shelter_review.title %><h3>
      <p><%= shelter_review.rating %></p>
      <p><%= shelter_review.content %></p>
      <img src="<%= shelter_review.img %>">
      <%= link_to "Edit", "/shelters/#{@shelter.id}/#{shelter_review.id}/edit_review" %>
      <%= link_to "Delete", "/shelters/#{@shelter.id}/#{shelter_review.id}", method: :delete %>
    </section>
  <% end %>
</section>
