<header class="sub-header">
<h1><%= @shelter.name %></h1>
<%= link_to "View Pets", "/shelters/#{@shelter.id}/pets"%>
<%= link_to "Edit Shelter", "/shelters/#{@shelter.id}/edit" %>
<%= link_to "Delete Shelter", "/shelters/#{@shelter.id}", method: :delete %>
</header>

<p>Address: <%= @shelter.address %><p>
<p>City: <%= @shelter.city %><p>
<p>State: <%= @shelter.state %><p>
<p>Zip: <%= @shelter.zip %><p>
