Favorites

<% if @pets.count == 0 %>
  <p>You do not have any favorite pets.</p>
<% end %>
<%= link_to "Remove All Favorites", "/favorites", method: :delete %>
<%= link_to "Adopt Pets", "/applications/new" %>
<% @pets.each do |pet| %>
  <section class="fav-pet" id="pet-<%= pet.id %>">
    <p><%= link_to "#{pet.name}", "/pets/#{pet.id}" %></p>
    <%= image_tag(pet.image) %>
    <%= link_to "Remove From Favorites", "/favorites/#{pet.id}", method: :delete %>
  </section>
<% end %>
<h2>Pets With Applications</h2>
<section id="application-pets">
  <% @applications.each do |application| %>
    <% application.pets.each do |pet| %>
      <%= link_to "#{pet.name}", "/pets/#{pet.id}" %>
    <% end %>
  <% end %>
</section>
