<h2>Favorites</h2>

<div class="page-template-2">
  <%= link_to "Remove All Favorites", "/favorites", method: :delete, class: "btn-1" %>
  <%= link_to "Adopt Pets", "/applications/new", class: "btn-1"%>
  <% if @pets.count == 0 %>
    <p>You do not have any favorite pets.</p>
  <% end %>
    <section class="container-rows-wrap">
    <% @pets.each do |pet| %>
    <section class="container-columns">
      <section class="btn-cont-row" id="favorite-<%= pet.id %>">
        <%= link_to "Remove From Favorites", "/favorites/#{pet.id}", method: :delete, class: "btn-1" %>
      </section>
      <%= render partial: 'shared/petcard',
      locals: {
                shelter: {
                  id: pet.shelter.id,
                  url_show: "/shelters/#{pet.shelter.id}",
                  name: pet.shelter.name,
                  city: pet.shelter.city
                },
                pet: {
                  id: pet.id,
                  image: pet.image,
                  name: pet.name,
                  age: pet.approximate_age,
                  sex: pet.sex,
                }
              }
            %>
      <% end %>
      </section>
      <h2>Pets With Applications</h2>
      <section id="application-pets">
        <% @pet_apps.each do |pet| %>
        <%= link_to "#{pet.name}", "/pets/#{pet.id}" %>
        <% end %>
      </section>
    </section>
</div>
