<h2>All Pets</h2>

<div class="grid-container">
  <% @pets.each do |pet| %>
    <div class="grid-item">
      <img src="<%= pet.image %>" width=350px height=350px object-fit: cover>
      <h3><%= link_to "#{pet.name}", "/pets/#{pet.id}" %></h3>
      <p>
        Approximate age: <%= pet.approximate_age %><br>
        Sex: <%= pet.sex %><br>
        Shelter: <%= link_to "#{pet.shelter.name}", "/shelters/#{pet.shelter.id}" %>
      </p>
      <section id="links <%= pet.id %>">
        <%= link_to "Edit Pet", "/pets/#{pet.id}/edit" %>
        <%= link_to "Delete Pet", "/pets/#{pet.id}", method: :delete %>
      </section>
    </div>
  <% end %>
<div>
