<section class="sub-header">
  <h1><%= @pet.name %></h1>
  <%= link_to "Edit Pet", "/pets/#{@pet.id}/edit", class: "btn-2" %>
  <%= link_to "Delete Pet", "/pets/#{@pet.id}", method: :delete, class: "btn-2" %>
  <% if favorites.exists?(@pet.id) %>
    <%= link_to "Remove From Favorites", "/favorites/#{@pet.id}", method: :delete, class: "btn-2" %>
  <% else %>
    <%= link_to "Add To Favorites", "/favorites/#{@pet.id}", method: :patch, class: "btn-1" %>
  <% end %>
</section>

<img src="<%= @pet.image %>" height=50% width=50%>
<h3>Name: <%= @pet.name %></h3>
Description: <%= @pet.description %><br>
Approximate age: <%= @pet.approximate_age %><br>
Sex: <%= @pet.sex %><br>
<% if @pet.adoptable == false %>
  Adoptable: <%= @pet.adoptable %> (On hold for <%= link_to "#{@pet_application.application.name}", "/applications/#{@pet_application.application.id}" %>.)
<% else %>
  Adoptable: <%= @pet.adoptable %>
<% end %>

<p><%= link_to "Applicants:", "/pets/#{@pet.id}/applications" %></p>
<section id="applications">
<% if @pet.applications.count == 0 %>
<p>There are no applications to adopt this pet.</p>
<% end %>
<ul>
<% @pet.applications.each do |application| %>
  <li>
    <%= link_to "#{application.name}", "/applications/#{application.id}" %>
  </li>
<% end %>
</ul>
</section>
