<section class="page-template-1">
  <header class="page-header">
    <!-- some worthwhile interesting banner content -->
    <h1>Adopt Dont Shop</h2>
  </header>

  <section id="welcome-index-shelters" class="content-template-1">
    <h2 class="section-header">Popular Shelters</h2>
    <% @shelters.each do |shelter| %>
      <article id="shelter-<%= shelter.id %>" class="shelter" >
        <aside class="shelter-primary">
          <h2 class="shelter-title"><%= shelter.name %></h2>
          <p class="shelter-phrase">The Barkin Best Dogs!</p>
          <section class="shelter-ratings">
            <div>
              <i class="material-icons">thumb_up</i>
              <p>31</p>
            </div>
            <div>
              <i class="material-icons">thumb_down</i>
              <p>7</p>
            </div>
          </section>
          <p class="shelter-description">
            Doggo ipsum  Shoob lotsa pats long water shoob most angery pupper 
            I have ever seen yapper, very much ruin diet. Heckin good boys and 
            girls big ol pupper bork shoober big ol pupper heckin angery woofer.
          </p>
          <div class="btn-container">
            <button class="btn-1">Learn More</button>
            <button class="btn-2">See Our Pets</button>
          </div>
        </aside>
        <aside class="shelter-location">
          <header>
            <div class="location-header">
              <h4>Location</h4>
              <i class="material-icons bookmark">bookmark_border</i>
            </div>
            <ul>
              <li><%= shelter.address %></li>
              <li><%= shelter.city %>, <%= shelter.state %></li>
              <li><%= shelter.zip %></li>
            </ul>
          </header>
          <footer class="shelter-contact">
            <p class="emphasis"># 173-555-8831</p>
            <p class="emphasis">bluebluebarky@bark.com</p>
          </footer>
        </aside>
      </article>
    <% end %>
  </section>

  <section id="welcome-index-pets" class="content-template-2">
    <h2 class="section-header">New Arrivals</h2>
    <% @pets.each do |pet| %>
      <article id="pet-<%= pet.id %>" class="pet" >
        <%= image_tag pet.image %>
        <aside>
          <header>
            <h2><%= pet.name %>, <span class="pet-city"> <%= pet.shelter.city %></span></h2>
            <i class="material-icons bookmark">favorite</i>
          </header>
          <section class="pet-shelter">
              <p><span class="bold">shelter:</span> <%= pet.shelter.name %></p>
          </section>
          <section class="pet-details">
            <p>
              <span class="bold">Age:</span> <%= pet.approximate_age %>, 
              <span class="bold">Gender:</span> <%= pet.sex %>
            </p>
          </section>
          <p class="pet-description">A sweetheart of a dog. Loves to cuddle and go for runs!</p>
          <div class="btn-container">
            <button class="btn-1">Adopt</button>
            <button class="btn-2">Details</button>
          </div>
        </aside>
      </article>
    <% end %>
  </section>
</section>