<h2>Welcome to Adopt Don't Shop</h2>

<section id="welcome-index-shelters" class="content-template-1">
  <% @shelters.each do |shelter| %>
    <article id="shelter-<%= shelter.id %>" >
      <p><%= shelter.name %></p>
      <p><%= shelter.address %></p>
      <p><%= shelter.city %></p>
      <p><%= shelter.state %></p>
      <p><%= shelter.zip %></p>
    </article>
  <% end %>
</section>

<section id="welcome-index-pets" class="content-template-1">
  <% @pets.each do |pet| %>
    <article id="pet-<%= pet.id %>">
      <p><%= pet.name %></p>
      <p><%= pet.approximate_age %></p>
      <p><%= pet.sex %></p>
      <%= image_tag pet.image %>
    </article>
  <% end %>
</section>