<!DOCTYPE html>
<html>
  <head>
    <title>AdoptDontShop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Bebas+Neue|Roboto+Slab:300,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"> 
  </head>

  <body>
    <nav class="primary-navbar">
      <div class="navbar-content">
        <main>
          <i class="material-icons header-logo">pets</i>
          <%= link_to "Shelters", "/shelters" %>
          <%= link_to "Pets", "/pets" %>
        </main>
        <aside class="header-aside">
          <p>Welcome, <span class="header-username">Guest</span></p>
        </aside>
      </div>
    </nav>
    <section class="flash-response">
      <%= flash[:error] %>
    </section>
    <%= yield %>
    <footer class="primary-footer">
      <section class="footer-content">
        <h2>Adopt Dont Shop</h2>
      </section>
    </footer>
  </body>
</html>
