<!DOCTYPE html>
<html>
  <head>
    <title>AdoptDontShop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <section id="nav-flex">
      <div class="navbar-link">
        <%= link_to "Shelters", "/shelters" %>
      </div>
      <div class="navbar-link">
        <%= link_to "Pets", "/pets" %>
      </div>
    </section>
    <%= yield %>
  </body>
</html>
